paths:
  image_path: "/cluster/projects/gliugroup/2BLAST/containers/ml4o-inf-image-2025-12-23.sif"

containerization:
  module_load_cmd: "module load apptainer" # apptainer/1.4.1
  module_name: "apptainer"

limits:
  max_gpus_per_node: 8
  max_num_nodes: 178
  max_cpus_per_task: 64

allowed_values:
  qos: []
  partition: []
  resource_type: ["l40", "h100"]

required_args:
  account: "VEC_INF_ACCOUNT"
  work_dir: "VEC_INF_WORK_DIR"

default_args:
  cpus_per_task: "8"
  mem_per_node: "32G"
  time: "08:00:00"
  qos: ""
  partition: "gpu"
  resource_type: "l40"
  exclude: ""
  nodelist: ""
  bind: "/cluster/projects/gliugroup/2BLAST/LLMs"
  venv: "apptainer"
  data_type: "auto"
  log_dir: "~/.ml4o-inf-logs"
  model_weights_parent_dir: "/cluster/projects/gliugroup/2BLAST/LLMs"
